.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 5px 5px 5px 0px;
    text-align: center;
}

.page-header h1 a  {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.page-header h2 {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
}

.content {
    width: 100%;
}

.welcome {
    margin-top: 2%;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
}

h2, h3 {
    font-family: 'Acme', sans-serif;
}

.themes h3 a:active{
    color: #555555
}

.themes h3 a:visited{
    color: #555555
}

.themes {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.theme {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    width: 200px;
    margin: auto;
    text-align: center;

}

.size{
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
}

.sizeButton {
    font-weight: bold;
}

.main {
    padding-top: 1%;
    /*margin-left: 1%*/
    text-align: center;
}

.panel {
    margin-left:auto;
    margin-right:auto;
    /*padding-top: 10px;*/
    /*vertical-align: middle;*/
    /*margin-left: 2%;*/
    /*margin-top: 2%;*/
    /*padding-right: 45%;*/
}

.face {
    width: 100%;
    height: 100%;
    text-align: center;

}

.card-img-top {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.mycardbody {
    padding: 0.5rem 0.5rem 1.25rem 0.5rem !important;
}

.breed {
    position: absolute;

    font-size: 15px;
    color: chocolate;
    left:0;
    right:0;
}

.message {
    text-align: center;
}

.guess {
   /* float: left; */
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    margin-top: 1%;
    background-color: #ffb653 !important;

}

.endButton-l, .endButton-r {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.endButton-l {
    float: left;
    position: absolute;
}

.endButton-r {
    float: right;
}

.high-score {
    float: left;
    width: 28%;
    margin: 3% 2%
}

.tableHead {
    background-color: #ede0ff !important;
    margin-top: -2px;
}

.tab-content{
}

.nav-link.active {
    background-color: #ede0ff !important;

}

.nav-item, .nav-item:hover {
    color: #e67300;
    font-weight: bold;
}

.nav-tabs {
    border: 0 !important;

}


.boldtext {
    font-weight: bold;
}

.ok {
    display: flex;
    justify-content: center;
}

.thImages {

}

.themeImg {
    high: 300px;
    width: 450px;
    margin-left: 10px;
    margin-right: 10px;
}

.highScore {
    margin: 4% auto auto auto;
    display: flex;
    justify-content: center;

}

.colhead {
    font-weight: bold;
}

th {
    font-weight: normal;
}

.empty {
    text-align: center;
    font-weight: bold;
}

.scoreThemes {
    margin: auto;
    text-align: center;
}

.scrollbar {
    float: left;
    height: 350px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}


.force-overflow {
    min-height: 300px;
}
/*tbody {*/
/*overflow-y: scroll;*/
/*position: absolute;*/
/*}*/
.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FFE0A1; }

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}



.playerHead {
    max-width: 10px;
}

tr {
    position: sticky;
}

.table > thead tr:nth-child(1) th{
    background: #ede0ff ;
    position: sticky;
    top: -1px;
    z-index: 10;

}
table {
 table-layout: fixed;
}

table th, table td {
 overflow: hidden;
 text-overflow: ellipsis;
}

.win-gif {
    margin-top: 2%;
    max-width: 100%;
    max-height: 500px;
}