{% extends 'game/base.html' %}
{% block content %}

    <!--<script type="text/javascript" src="/static/js/deck.js"></script>-->
{% verbatim %}
    <div ng-app="flip" ng-controller="flipCtrl">
        <div class="guess">
            Guesses: {{guesses}}
            Time: {{time | date: 'm:ss'}}
        </div>

        <table style="width:100%" class="panel">
                    <tr ng-repeat="row in cards">
                        <div class="flip">
                            <th ng-repeat="card in row track by $index">
                                <div class="card" ng-click="flipCard(card)">
                                    <div class="face" ng-if="card.isFlipped">
                                        <img class="card-img-top front" src={{card.path}} alt="card image">
                                    </div>
                                    <div class="face back" ng-if="!card.isFlipped">
                                        <img class="card-img-top" src="/static/src/dogBack.jpeg" alt="card image">
                                    </div>
                                </div>
                            </th>
                        </div>
                    </tr>
        </table>
    </div>
{% endverbatim %}

{% endblock %}