{% extends 'game/base.html' %}
{% block content %}

    <!--<script type="text/javascript" src="/static/js/deck.js"></script>-->
{% verbatim %}
    <div ng-app="flip" ng-controller="flipCtrl">
        <table style="width:100%">
        <div class="flip">

                <div class="panel">
                    <tr ng-repeat="row in cards">
                        <div class="panel">
                            <th ng-repeat="card in row track by $index">
                                <div class="card" ng-click="card.isFlipped=!card.isFlipped">
                                    <div class="face front" ng-if="card.isFlipped">
                                        <img class="card-img-top" src={{card.path}} alt="card image">
                                    </div>
                                    <div class="face back" ng-if="!card.isFlipped">
                                        <img class="card-img-top" src="/static/src/dogBack.jpeg" alt="card image">
                                    </div>
                                </div>
                            </th>
                        </div>
                    </tr>
                </div>

        </div>
        </table>
    </div>
{% endverbatim %}

{% endblock %}
