{% extends 'game/base.html' %}
{% block content %}

    <!--<script type="text/javascript" src="/static/js/deck.js"></script>-->
{% verbatim %}
    <div ng-controller="flipCtrl" class="main">
        <!--<img class="card-img-top" src="/static/src/tutle.webp" alt="card image">-->
        <div class="deck">
            <table class="panel">
                <tbody>
                <tr ng-repeat="row in cards">
                    <div class="flip">
                        <td ng-repeat="card in row track by $index">
                            <div class="card text-center" ng-click="flipCard(card)">
                                <div class="card-body mycardbody">
                                    <div class="face" ng-if="card.isFlipped">
                                        <img class="card-img-top" ng-src={{card.path}}>
                                        <p ng-if="card.isGuessed" class="card-text breed">{{ card.name }}</p>
                                    </div>
                                    <div class="face" ng-if="!card.isFlipped">
                                        <img class="card-img-top" src="/static/src/{{ theme_name }}.png" alt="card image">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </div>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="endButton-l">
            <button class="btn btn-outline-secondary">Back to menu</button>
        </div>
        <div class="endButton-r">
            <button class="btn btn-outline-secondary">High Scores</button>
        </div>
        <div>
            <div class="shadow-sm p-1 mb-3 bg-white rounded guess">
                <span class="boldtext">Guesses:</span> {{guesses}}
                <span class="boldtext">Time:</span> {{time | date: 'm:ss'}}
            </div>
        </div>



        <div class="modal" tabindex="-1" role="dialog" id="myModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Game finished!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p class="message">Great! You finished game in {{ guesses }} moves in {{time | date: 'm:ss'}}.</p>
                  <p class="message">Good job!</p>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="showAlert">
                      <strong>Uuuups!</strong> You forgot to fill the below input!
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>

                  <form>
                      <div class="form-group"></div>
                      <input type="name" class="form-control" id="InputName" placeholder="Please enter your name" ng-model="name">
                  </form>
                  <p></p>
                  <img src="/static/src/win.gif">
              </div>
              <div class="modal-footer ok">
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>-->
                <button type="button" class="btn btn-warning" ng-click="save()">Ok</button>
              </div>
            </div>
          </div>
        </div>

    </div>

{% endverbatim %}

{% endblock %}