{% extends 'game/base.html' %}
{% block content %}
{% verbatim %}

<div ng-controller="scoreCtrl">
    <div class="welcome">
        <h2>Best of the best!</h2>
    </div>
    <div class="scoreNavs">
        <div ng-repeat="(index, theme) in themes">
            <div class="high-score">
                <h2 class="scoreThemes">{{ theme }}</h2><br>
                 <nav>
                    <div class="nav nav-tabs" id="nav-tab{{ index }}" role="tablist">
                        <a class="nav-item nav-link active" id="nav-10-tab{{ index }}" data-toggle="tab" href="#nav-10c{{ index }}" role="tab" aria-controls="nav-10c{{ index }}" aria-selected="true">10 cards</a>
                        <a class="nav-item nav-link" id="nav-16-tab{{ index }}" data-toggle="tab" href="#nav-16c{{ index }}" role="tab" aria-controls="nav-16c{{ index }}" aria-selected="false">16 cards</a>
                        <a class="nav-item nav-link" id="nav-20-tab{{ index }}" data-toggle="tab" href="#nav-20c{{ index }}" role="tab" aria-controls="nav-contact20c{{ index }}" aria-selected="false">20 cards</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-10c{{ index }}" role="tabpanel" aria-labelledby="nav-10-tab{{ index }}" >
                        <table class="table table-sm table-hover table-bordered">
                            <thead class="tableHead">
                                <tr>
                                    <th scope="col" class="colhead">#</th>
                                    <th scope="col" class="colhead">Player</th>
                                    <th scope="col" class="colhead">Time [m:s]</th>
                                    <th scope="col" class="colhead">Guesses</th>
                                    <th scope="col" class="colhead">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="scores[theme+10].length == 0">
                                    <th colspan="5" class="empty">No results</th>
                                </tr>
                                <tr ng-repeat="(index, game) in scores[theme+10]">
                                    <th>{{ index + 1 }}</th>
                                    <th>{{ game.player }}</th>
                                    <th>{{ game.time | date: 'm:ss' }}</th>
                                    <th>{{ game.guesses }}</th>
                                    <th>{{ game.date }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-16c{{ index }}" role="tabpanel" aria-labelledby="nav-16-tab{{ index }}">
                        <table class="table table-sm table-hover table-bordered">
                            <thead class="tableHead">
                                <tr>
                                    <th scope="col" class="colhead">#</th>
                                    <th scope="col" class="colhead">Player</th>
                                    <th scope="col" class="colhead">Time [min:s]</th>
                                    <th scope="col" class="colhead">Guesses</th>
                                    <th scope="col" class="colhead">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="scores[theme+16].length == 0">
                                    <th colspan="5" class="empty">No results</th>
                                </tr>
                                <tr ng-repeat="(index, game) in scores[theme+16]">
                                    <th>{{ index + 1 }}</th>
                                    <th>{{ game.player }}</th>
                                    <th>{{ game.time | date: 'm:ss' }}</th>
                                    <th>{{ game.guesses }}</th>
                                    <th>{{ game.date }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-20c{{ index }}" role="tabpanel" aria-labelledby="nav-20-tab{{ index }}">
                        <table class="table table-sm table-hover table-bordered">
                            <thead class="tableHead">
                                <tr>
                                    <th scope="col" class="colhead">#</th>
                                    <th scope="col" class="colhead">Player</th>
                                    <th scope="col" class="colhead">Time [min:s]</th>
                                    <th scope="col" class="colhead">Guesses</th>
                                    <th scope="col" class="colhead">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="scores[theme+20].length == 0">
                                    <th colspan="5" class="empty">No results</th>
                                </tr>
                                <tr ng-repeat="(index, game) in scores[theme+20]">
                                    <th>{{ index + 1 }}</th>
                                    <th>{{ game.player }}</th>
                                    <th>{{ game.time | date: 'm:ss' }}</th>
                                    <th>{{ game.guesses }}</th>
                                    <th>{{ game.date }}</th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endverbatim %}

{%endblock%}
