{% extends 'game/base.html' %}

{% block content %}
{% verbatim %}
    <div class="welcome">
        <h2>Welcome in Memory Game</h2>
        <h2>Please choose theme of your game and numbers of card to guess and play!</h2>
    </div>
    <br>
    <div ng-controller="themeCtrl">
        <div class="themes">
            <div ng-repeat="theme in themes">
                <div class="shadow-sm p-1 mb-3 bg-white rounded float-left theme">
                    <h3>{{theme}}</h3>
                </div>
                <div class="size">
                    <a class="badge badge-warning" href="game.html?theme={{theme}}&size=10">10</a>
                    <a class="badge badge-warning" href="game.html?theme={{theme}}&size=16">16</a>
                    <a class="badge badge-warning" href="game.html?theme={{theme}}&size=20">20</a>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}

{%endblock%}